@page "/catalog"
@using Microsoft.Extensions.Caching.Memory
@using Microsoft.Extensions.Options
@using MyFurniture.Entity
@using MyFurniture.Entity.Responses
@attribute [StreamRendering]
@rendermode InteractiveServer

@inject IHttpClientFactory httpClientFactory
@inject IOptions<Settings> options
@inject NavigationManager navigation
@inject IMemoryCache memCache

<PageTitle>Catalog</PageTitle>

<h1 class="main-title text-center">Catalog</h1>
<hr/>

<div class="centered-content">
    <Spinner Type="SpinnerType.Grow" Color="SpinnerColor.Dark" Visible="@_isLoading" Size="SpinnerSize.ExtraLarge"/>
    <br/>
    @if (_isLoading)
    {
        <small style="color: slategray">loading</small>
    }
</div>
@if (_products != null)
{
    <div class="row">
        @foreach (var product in _products)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    @if (!string.IsNullOrEmpty(product.ImageUrl))
                    {
                        <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name" style="object-fit: cover;"/>
                    }
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">@product.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@product.Category</h6>
                        @if (product.Price != null)
                        {
                            <p class="card-text">
                                <strong>Price:</strong> @product.Price.Value @product.Price.Currency
                            </p>
                        }
                        @if (product.Stock != 0)
                        {
                            <small>Estimated stock: @product.Stock</small>
                        }

                        <div class="centered-content" style="margin-top: 10px;">
                            <button class="btn btn-custom btn-block font-weight-bold" @onclick="() => ShowModal(product)">Detail</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

<Modal @ref="_productDetail" IsVerticallyCentered="true" Size="ModalSize.ExtraLarge"/>

@code {
    private HttpClient _client => httpClientFactory.CreateClient();
    private List<Product>? _products;
    private Modal _productDetail = default!;
    private bool _isLoading => _products is null;

    protected override async Task OnInitializedAsync()
    {
        if (!memCache.TryGetValue(CacheKeys.PRODUCTS, out ProductDto[]? minimalProducts))
        {
            minimalProducts = await _client
                .GetFromJsonAsync<ProductDto[]>(options.Value.BaseUrl + "/Product/All")
                .ConfigureAwait(false);

            memCache.Set(CacheKeys.PRODUCTS, minimalProducts, DateTimeOffset.UtcNow.AddDays(2));
        }

        if (!memCache.TryGetValue(CacheKeys.ASSETS, out AssetDto[]? assets))
        {
            assets = await _client
                .GetFromJsonAsync<AssetDto[]>(options.Value.BaseUrl + "/Asset/All")
                .ConfigureAwait(false);

            memCache.Set(CacheKeys.ASSETS, assets, DateTimeOffset.UtcNow.AddDays(2));
        }

        if (!memCache.TryGetValue(CacheKeys.PRICES, out PriceDto[]? prices))
        {
            prices = await _client
                .GetFromJsonAsync<PriceDto[]>(options.Value.BaseUrl + "/Price/All")
                .ConfigureAwait(false);

            memCache.Set(CacheKeys.PRICES, prices, DateTimeOffset.UtcNow.AddHours(12));
        }

        if (!memCache.TryGetValue(CacheKeys.STOCKS, out StockDto[]? stocks))
        {
            stocks = await _client
                .GetFromJsonAsync<StockDto[]>(options.Value.BaseUrl + "/Stock/All")
                .ConfigureAwait(false);

            memCache.Set(CacheKeys.STOCKS, stocks, DateTimeOffset.Now.AddSeconds(5));
        }

        _products = minimalProducts
            .Select(x => ProductMapper.From(x, assets, prices, stocks))
            .ToList();

        await base.OnInitializedAsync();
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        _productDetail.OnHiding = new EventCallback(null, () =>
        {
            navigation.NavigateTo("/catalog", true);
        });

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task ShowModal(Product product)
    {
        await _productDetail.ShowAsync<ProductDetailModal>(
            title: product.Name,
            parameters: new Dictionary<string, object>()
            {
                { "Product", product }
            });
    }

}