@page "/catalog"
@using Microsoft.Extensions.Caching.Distributed
@using Microsoft.Extensions.Caching.Hybrid
@using Microsoft.Extensions.Caching.Memory
@using Microsoft.Extensions.Options
@using MyFurniture.Entity
@using MyFurniture.Entity.Responses
@using MyFurniture.Redis
@attribute [StreamRendering]
@rendermode InteractiveServer

@inject IHttpClientFactory httpClientFactory
@inject IOptions<Settings> options
@inject NavigationManager navigation
@inject IMemoryCache memCache
@inject IRedisCache redisCache
@inject IDistributedCache distributedCache
@inject HybridCache hybridCache

<PageTitle>Catalog</PageTitle>

<h1 class="main-title text-center">Catalog</h1>
<hr/>

<div class="centered-content">
    <Spinner Type="SpinnerType.Grow" Color="SpinnerColor.Dark" Visible="@_isLoading" Size="SpinnerSize.ExtraLarge"/>
    <br/>
    @if (_isLoading)
    {
        <small style="color: slategray">loading</small>
    }
</div>
@if (_products != null)
{
    <div class="row">
        @foreach (var product in _products)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    @if (!string.IsNullOrEmpty(product.ImageUrl))
                    {
                        <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name" style="object-fit: cover;"/>
                    }
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">@product.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@product.Category</h6>
                        @if (product.Price != null)
                        {
                            <p class="card-text">
                                <strong>Price:</strong> @product.Price.Value @product.Price.Currency
                            </p>
                        }
                        @if (product.Stock != 0)
                        {
                            <small>Estimated stock: @product.Stock</small>
                        }

                        <div class="centered-content" style="margin-top: 10px;">
                            <button class="btn btn-custom btn-block font-weight-bold" @onclick="() => ShowModal(product)">Detail</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

<Modal @ref="_productDetail" IsVerticallyCentered="true" Size="ModalSize.ExtraLarge"/>

@code {
    private HttpClient _client => httpClientFactory.CreateClient();
    private List<Product>? _products;
    private Modal _productDetail = default!;
    private bool _isLoading => _products is null;

    protected override async Task OnInitializedAsync()
    {
        var minimalProducts = await hybridCache
            .GetOrCreateAsync(
                key: HybridKeys.PRODUCTS,
                state: new { Client = _client, Url = options.Value.BaseUrl },
                factory: async (state, cancellationToken) =>
                {
                    return await state.Client
                        .GetFromJsonAsync<ProductDto[]>(state.Url + "/Product/All", cancellationToken: cancellationToken)
                        .ConfigureAwait(false);
                },
                options: new HybridCacheEntryOptions
                {
                    LocalCacheExpiration = TimeSpan.FromDays(2),
                    Expiration = TimeSpan.FromDays(1)
                }
            )
            .ConfigureAwait(false);

        var assets = await hybridCache
            .GetOrCreateAsync(
                key: HybridKeys.ASSETS,
                state: new { Client = _client, Url = options.Value.BaseUrl },
                factory: async (state, cancellationToken) =>
                {
                    return await state.Client
                        .GetFromJsonAsync<AssetDto[]>(state.Url + "/Asset/All", cancellationToken: cancellationToken)
                        .ConfigureAwait(false);
                },
                options: new HybridCacheEntryOptions
                {
                    LocalCacheExpiration = TimeSpan.FromDays(2),
                    Expiration = TimeSpan.FromDays(1)
                }
            )
            .ConfigureAwait(false);

        var prices = await hybridCache
            .GetOrCreateAsync(
                key: HybridKeys.PRICES,
                state: new { Client = _client, Url = options.Value.BaseUrl },
                factory: async (state, cancellationToken) =>
                {
                    return await state.Client
                        .GetFromJsonAsync<PriceDto[]>(state.Url + "/Price/All", cancellationToken: cancellationToken)
                        .ConfigureAwait(false);
                },
                options: new HybridCacheEntryOptions
                {
                    LocalCacheExpiration = TimeSpan.FromHours(4),
                    Expiration = TimeSpan.FromHours(4)
                }
            )
            .ConfigureAwait(false);

        var stocks = await hybridCache
            .GetOrCreateAsync(
                key: HybridKeys.STOCKS,
                state: new { Client = _client, Url = options.Value.BaseUrl },
                factory: async (state, cancellationToken) =>
                {
                    return await state.Client
                        .GetFromJsonAsync<StockDto[]>(state.Url + "/Stock/All", cancellationToken: cancellationToken)
                        .ConfigureAwait(false);
                },
                options: new HybridCacheEntryOptions
                {
                    LocalCacheExpiration = TimeSpan.FromSeconds(5),
                    Expiration = TimeSpan.FromDays(5)
                }
            )
            .ConfigureAwait(false);


        _products = minimalProducts
            .Select(x => ProductMapper.From(x, assets, prices, stocks))
            .ToList();

        await base.OnInitializedAsync();
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        _productDetail.OnHiding = new EventCallback(null, () => { navigation.NavigateTo("/catalog", true); });

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task ShowModal(Product product)
    {
        await _productDetail.ShowAsync<ProductDetailModal>(
            title: product.Name,
            parameters: new Dictionary<string, object>()
            {
                { "Product", product }
            });
    }

}